@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Bebas+Neue&family=Overpass:wght@400;700&display=swap');
html,body{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: black;
    font-family: 'Overpass', sans-serif;
    max-width: 1440px;
}

.container{
    background-color: hsl(0, 0%, 81%);
    max-width: 1440px;
    height: 600px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin: 30px;
}

.testimonial-01{
    background-color: hsl(263, 55%, 52%);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.testimonial-02{
    background-color: hsl(217, 19%, 35%);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
}

.testimonial-03{
    background-color: hsl(0, 0%, 100%);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    color: hsl(219, 29%, 14%);
}

.testimonial-04{
    background-color: hsl(0, 0%, 100%);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: hsl(219, 29%, 14%);
}

.testimonial-05{
    background-color: hsl(219, 29%, 14%);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
}

h1{
    font-size: 10px;
    font-weight: 600;


}
h2{
    font-size: 10px;
    font-weight: 500;
}
h3{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
}
h4{
    font-size: 10px;
    margin-bottom: 8px;
    font-weight:500;
}

img    {
    border-radius: 50%;
    margin-top: 10px;
    width: 7%;
    border-color: white;

}

.profile1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:last baseline;

}
.profile-name{
    margin-left: 10px;
}


/* duvidas 

refinar tela 1
first child
*/